<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<style>
    .error {
        color: #ee3a3a;
        background: #000;
    }
</style>

<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div class="forma">
            <p><input type="text" v-model="note.title" /></p>
            <p class="error"><span v-if="message">{{message}}</span>&nbsp;</p>
            <p>
                <textarea v-model="note.description" cols="30" rows="10"></textarea>
            </p>
            <button @click="addNote">Add note</button>
        </div>
        <div class="notes">
            <div class="note" v-for="elem in notes">
                <h2 class="note-header">
                    <h1 @dblclick="elem.edit = true"> {{elem.title}} </h1>
                </h2>
                <p class="note-content">{{elem.description}}</p>
                <p>{{elem.date}}</p>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                title: "Это приложение notes",
                message: null,
                note: {
                    title: "",
                    description: "",
                    edit: false
                },
                notes: [{
                        title: "Первый заголовок",
                        description: "Заметка и ее небольшой текст",
                        date: new Date(Date.now()).toLocaleString(),
                        edit: false
                    },
                    {
                        title: "Второй заголовок",
                        description: "Заметка и ее небольшой текст",
                        date: new Date(Date.now()).toLocaleString(),
                        edit: false
                    },
                    {
                        title: "Третий заголовок",
                        description: "Заметка и ее небольшой текст",
                        date: new Date(Date.now()).toLocaleString(),
                        edit: false
                    },
                ],
            },
            methods: {
                addNote() {
                    let {
                        title,
                        description,
                        edit
                    } = this.note
                    if (title === "") {
                        this.message = 'Поле надо заполнить'
                        return false
                    }

                    this.notes.push({
                        title: title,
                        description: description,
                        date: new Date(Date.now()).toLocaleString(),
                        edit: edit
                    })
                    console.log(title)
                    this.message = null
                    this.note.title = ""
                    this.note.description = ""
                }
            }
        })
    </script>
</body>

</html>